:root {
    --medium-border: #a0a0a0;
    --lightest-bg: #fdfdfd;
    --light-bg: #f4f4f4;
    --dark-bg: #585858;
    --darker-bg: #333333;
    --light-text: #f1f1f1;
    --medium-text: #858585;
    --highlight-light: #35b4c5;
    --highlight-medium: #009baf;
    --highlight-dark: #058c9e;
    --logo: #3cc3d4;
    --alert: #de0f00;
    --success: #70b970;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--lightest-bg);
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    line-height: 1.4;
    position: relative;
    min-height: 100vh;
    padding-bottom: 150px;
    /* Add if you want the footer further way */
}

#main {
    width: 70%;
    margin: auto;
}

/* Header */

header {
    width: 100%;
    display: block;
    background-color: white;
    border-bottom: 1px ridge var(--highlight-medium);
}

.header_items {
    display: block;
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

.navbar {
    display: table;
}

.navbar a {
    float: left;
    margin: 15px;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--highlight-dark);
}

.navbar a li {
    display: table-cell;
}

.navbar_link_active {
    color: gray;
}

.navbar_link_inactive {
    color: black;
}

.header_logo {
    float: left;
}

.header_logo h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--logo);
    float: left;
    margin: 0 15px;
}

.header_logo img {
    float: left;
}

/* Registration */

.registration {
    float: right;
}

.regButton {
    margin: 15px;
    background: transparent;
    border: none;
}

.regButton:hover {
    color: var(--highlight-dark);
    cursor: pointer;
}

#logout-btn, #admin-btn {
    display: none;
}

/* INFO */

#img-carousel {
    height: 400px;
    position: relative;
    margin: 40px auto;
    white-space: nowrap;
    overflow: hidden;
    
}

.slides {
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    border: groove lightgray;
    position: relative;
    height: 100%;
}

.fade {
    animation-name: fade;
    animation-duration: 3.5s;
}

@keyframes fade {
    from {opacity: .7}
    to {opacity: 1;}
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 1px;
    filter: blur(5px);
}

.info-text {
    color: var(--light-bg);
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    width: 70%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 14%;
    background-color: rgba( 0, 0, 0, 0.45);
}

/* Storefront */

.store {
    margin: auto;
}

.add-listing-btn {
    display: block;
    color: var(--light-text);
    margin: 30px auto 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    border: 0.5px solid var(--medium-border);
    border-radius: 5px;
    background-color: var(--highlight-light);
    float: right;
    clear: both;
}

.add-listing-btn:hover {
    background-color: var(--highlight-dark);
    cursor: pointer;
}

.add-listing-error {
    color: var(--alert);
}

.store_filter {
    width: 100%;
    display: block;
    max-width: 800px;
    margin: 50px auto;
    padding: 25px;
    border: var(--medium-border) 1px solid;
    font-size: larger;
}

.divCheckbox {
    display: block;
    padding: 10px;
    width: 100%;
}

.divCheckbox div {
    display: inline;
}

.divFilters {
    display: flex;
}

.divFilters input {
    font-size: 16px;
    text-align: start;
    width: 50%;
    min-width: 100px;
    height: 30px;
    margin: 5px 0;
    padding: 4px;
    background-color: var(--lightest-bg);
    border: 1px solid var(--medium-border);
}

.divFilters select {
    font-size: 16px;
    width: 100%;
    min-width: 100px;
    height: 30px;
    margin: 4px 0;
    padding: 4px;
    background-color: var(--lightest-bg);
    border: 1px solid var(--medium-border);
}

.divSlider {
    flex: 1;
    padding: 10px;
}

.divSlider div {
    display: block;
}

.divCategories {
    flex: 1;
    padding: 10px;
}

.divSearch {
    display: block;
    position: relative;
    float: right;
    flex: 0.5;
    padding: 10px;
}

.divSearch div {
    position: relative;
}

.divSearch button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 35px;
    border: none;
    border-radius: 3px;
    color: var(--lightest-bg);
    background-color: #ff4c4c;
}

.store_counter {
    display: block;
    border-bottom: 1px black solid;
    width: 100%;
}

.store_counter p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    margin: 5px;
    padding-bottom: 3px;
    font-size: larger;
    display: inline;
}

.store_listing {
    display: inline-block;
    width: 100%;
}

/* LISTING */

.listing-style1 {
    margin: 4px;
    padding: 10px 20px;
    border: 1px solid var(--medium-border);
    background-color: var(--light-bg);
    float: left;
    width: 350px;
    height: 135px;
    border-radius: 8px;
}

.inner-listing {
    display: flex;
}

.inner-listing-img {
    flex: 1;
    display: block;
    float: left;
}

.inner-listing-img img {
    object-fit: cover;
    width: 110px;
    height: 110px;
    margin: 0 auto;
}

.inner-listing-info {
    flex: 1;
    display: block;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inner-listing-info .listing-title {
    font-family: fantasy;
    text-transform: capitalize;
    font-size: larger;
    display: inline;
    white-space: nowrap;
}

.inner-listing-info .listing-price {
    font-size: larger;
    display: block;
}

.inner-listing-info .listing-date {
    display: block;
}

.inner-listing-expand {
    flex: 0.5;
}

.inner-listing-expand input {
    float: right;
}

.expand-btn {
    background-image: url(../img/icons/angle-down-solid.svg);
    background-color: var(--light-bg);
    border: none;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.listing-style2 {
    margin: 4px;
    padding: 20px 30px;
    border: 1px solid var(--medium-border);
    background-color: var(--light-bg);
    width: 100%;
    float: left;
    border-radius: 18px;
}

.listing-expand {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.listing-expand-title {
    font-family: fantasy;
    font-size: xx-large;
    text-transform: capitalize;
    margin: 0 auto;
    padding: 5px;
}

.listing-expand-info {
    width: 100%;
    display: flex;
    padding: 5px;
}

.listing-expand-info .listing-price {
    font-size: x-large
}

.listing-expand-imgDiv {
    display: block;
    float: left;
    width: 100%;
    padding: 10px;
    flex: 1;
}

.listing-expand-descDiv {
    display: block;
    float: right;
    padding: 10px;
    width: 100%;
    flex: 1;
}

.listing-expand-imgDiv-small {
    display: block;
    min-width: 240px;
    height: 110px;
    float: left;
    overflow-y: auto;
    border: 1px solid black;
}

.listing-expand-imgDiv-big {
    width: 100%;
}

.listing-expand-img-main {
    width: 500px;
    padding: 2px;
    margin: 5px auto;
    display: block;
    width: 100%;
}

.listing-expand-img-small {
    height: 110px;
    border: 1px solid var(--medium-border);
}

.listing-desc-heading {
    font-size: x-large;
    font-size: large;
}

.listing-desc {
    font-size: large;
    width: 100%;
    background-color: var(--lightest-bg);
    border: var(--medium-border) 1px solid;
    padding: 25px;
}

.listing-expand-external {
    width: 100%;
    display: flex;
}

.listing-expand-location {
    padding: 10px;
    flex: 1;
    height: 250px;
}

.listing-expand-location map {
    border: var(--medium-border) 1px solid;
}

.listing-expand-locWarning {
    font-size: 12px;
    color: var(--alert);
}

.listing-expand-ul {
    flex: 1;
}

.listing-expand-ul ul {
    padding: 25px;
    float: left;
    margin: 0 auto;
    width: 100%;
    display: block;
}

.listing-expand-ul li {
    padding: 2px;
}

.listing-expand input {
    float: left;
}

@media screen and (max-width: 900px) {
    .listing-expand-info {
        display: inline-block;
    }
    .listing-expand-imgDiv {
        flex: 0;
    }
    .listing-expand-descDiv {
        float: left;
        flex: 0;
    }
    .listing-expand-imgDiv-small {
        margin: 0 auto;
        float: none;
    }
    .listing-expand-external {
        display: block;
    }
    .listing-expand-location {
        flex: 0;
    }
    .listing-expand-ul {
        flex: 0;
    }
}

.listing-style3 {
    display: none;
}

.listing-report-btn {
    color: var(--light-text);
    margin: auto;
    padding: 5px 10px;
    font-size: 13px;
    border: 0.5px solid var(--medium-border);
    border-radius: 5px;
    background-color: var(--highlight-light);
    float: right;
}

.listing-report-btn:hover {
    cursor: pointer;
    background-color: var(--highlight-medium);
    color: var(--light-text);
}

/* LOGIN & REGISTRATION MODALS */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba( 0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--light-bg);
    margin: 10% auto;
    padding: 0 10px;
    width: 340px;
    text-align: center;
    box-shadow: 0 5px 8px 0 rgba( 0, 0, 0, 0.2), 0 7px 20px 0 rgba( 0, 0, 0, 0.17);
    border-radius: 10px;
}

.modal-header {
    padding: 10px;
    border-bottom: 1px solid var(--medium-border);
}

.modal-header h2 {
    font-size: 28px;
    margin: 15px 0;
}

.modal-close-btn {
    color: var(--medium-text);
    float: right;
    font-size: 30px;
}

.modal-close-btn:hover, .modal-close-btn:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.modal-main {
    padding-top: 10px;
}

.modal-success {
    display: none;
    font-size: 21px;
    font-weight: normal;
    margin: 20px 0;
}

.modal-label {
    font-size: 20px;
}

.modal-text-input {
    font-size: 16px;
    text-align: center;
    width: 90%;
    height: 30px;
    margin: 5px 0;
    padding: 4px;
    background-color: var(--lightest-bg);
    border: 1px ridge var(--medium-border);
}

.modal-alert {
    display: none;
    font-size: 15px;
    font-weight: bold;
    color: var(--alert);
    margin: 0 0 5px 0;
}

.modal-text-input:focus {
    border-color: var(--highlight-light);
}

.modal-btn {
    color: var(--light-text);
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    border: 0.5px solid var(--medium-border);
    border-radius: 5px;
    background-color: var(--highlight-light);
}

.modal-btn:hover {
    cursor: pointer;
    background-color: var(--highlight-medium);
    color: var(--light-text);
}

.modal-question {
    text-transform: none;
}

.modal-question:hover {
    color: var(--highlight-medium);
    cursor: pointer;
}

.modal-footer {
    color: var(--medium-text);
    text-align: center;
    padding: 10px;
    border-top: 1px solid var(--medium-border);
}

/* Add listing modal */

.listing-locator {
    height: 300px;
    width: 100%;
}

.add-listing-content {
    background-color: var(--light-bg);
    margin: 2% auto;
    padding: 0 10px;
    width: 60%;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 5px 8px 0 rgba( 0, 0, 0, 0.2), 0 7px 20px 0 rgba( 0, 0, 0, 0.17);
    border-radius: 10px;
}

.add-listing-map-buttons {
    background-color: var(--light-bg);
    margin: 10px 0 10px;
    display: block;
    width: 100%;
    float: left;
}

.add-listing-map p {
    float: left;
}

.add-listing-map-buttons button {
    font-size: 16px;
    background-color: var(--light-bg);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--medium-border);
    margin: 5px;
    display: inline;
    float: left;
    height: 30px;
}

.textMapDef {
    font-size: 18px;
    float: left;
    margin: 0 auto;
    padding: 0;
}

.textMapSuccess {
    font-size: 18px;
    color: var(--success);
    float: left;
    margin: 0 auto;
    padding: 0;
}

.add-listing-main {
    text-align: left;
    margin: 10px;
    padding: 10px 50px;
}

.listing-img-preview {
    min-height: 100px;
    border: 1px solid var(--medium-border);
    max-width: 80%;
    background-color: var(--light-bg);
}

.listing-img-preview img {
    width: 100px;
    height: 100px;
}

.listing-input {
    font-size: 16px;
    text-align: start;
    width: 80%;
    height: 30px;
    margin: 5px 0;
    padding: 4px;
    background-color: var(--lightest-bg);
    border: 1px ridge var(--medium-border);
}

.listing-input-error {
    font-size: 16px;
    text-align: start;
    width: 80%;
    height: 30px;
    margin: 5px 0;
    padding: 4px;
    background-color: var(--lightest-bg);
    border: 1px ridge var(--alert);
}

.listing-input:focus {
    border-color: var(--highlight-light);
}

#listing-price {
    width: 70px;
}

.listing-select {
    font-size: 16px;
    width: 35%;
    min-width: 160px;
    height: 30px;
    margin: 5px 0;
    padding: 4px;
    background-color: var(--lightest-bg);
    border: 1px ridge var(--medium-border);
}

.listing-select-error {
    font-size: 16px;
    width: 35%;
    min-width: 160px;
    height: 30px;
    margin: 5px 0;
    padding: 4px;
    background-color: var(--lightest-bg);
    border: 1px ridge var(--alert);
}

#listing-email, #listing-phone {
    display: none;
}

.listing-file {
    display: none;
}

.custom-file-input {
    color: var(--light-bg);
    border: 1px solid var(--medium-text);
    border-radius: 5px;
    background-color: var(--dark-bg);
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
}

.custom-file-input:hover {
    background-color: var(--darker-bg);
    cursor: pointer;
}

/* Admin modal */

#admin-content {
    width: 60%;
}

#admin-main {
    text-align: left;
    margin: 10px;
    padding: 10px 50px;
}

#reports-title {
    margin: 5px 0;
}

#reports {
    display: flex;
}

.admin-report-div {
    width: 50%;
    margin: 5px 5px 5px 0;
}

.reports-list-title {
    margin: 0;
}

.reports-list {
    list-style-type: square;
    padding-left: 17px;
    margin: 10px 0 0 0;
}

#admin-form {
    margin: 10px 0;
}

.selected-div {
    display: none;
}

/* Report Modal */

#report-main {
    text-align: left;
    margin-left: 10px;
}

#report-reason {
    margin: 15px 0 10px 0;
}

.report-alert {
    display: none;
    font-size: 14px;
    color: var(--alert);
}

.report-check-input {
    margin: 7px;
}

#report-else-more {
    margin: 10px;
    width: 70%;
    min-height: 40px;
    height: 40px;
}

.thank-msg {
    text-align: center;
    margin: 40px auto;
}

/* ------- ABOUT US ------- */

#about-us {
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    line-height: 1.4;
}

/* Story */

.story {
    padding: 20px 0 50px 0;
}

.story-title {
    font-size: 30px;
}

.story-desc {
    margin: 20px 50px;
}

/* Person */

.person {
    display: flex;
    padding: 30px 0;
    border-top: 1px solid var(--highlight-dark);
}

.person-img {
    width: 25%;
    height: 100%;
    margin-left: 40px;
}

.about-person {
    margin: 20px 0;
    width: 75%;
}

.person-title {
    margin: 0 50px;
}

.person-desc {
    margin: 0;
    padding: 30px 50px;
}

/*About store*/

.about-store {
    display: flex;
    border-top: 1px solid var(--highlight-dark);
    padding: 30px 0;
}

/* About store - Column 1 */

.column1 {
    width: 60%;
}

.store-desc {
    margin: 10px 30px;
    font-size: 15px;
}

/* Reviews - Column 2 */

.column2 {
    width: 40%;
}

.review-div {
    margin: 20px;
    padding: 5px 0;
    color: var(--medium-text);
    background-color: var(--light-bg);
    text-align: left;
    border-left: 8px solid var(--highlight-medium);
}

.review {
    margin: 20px 20px 10px 20px;
}

.review-writer {
    margin: 0 0 20px 30px;
    font-style: italic;
}

/* Footer - stays at the bottom */

footer {
    width: 100%;
    height: 80px;
    background-color: white;
    border-top: ridge lightgray thin;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.footer_items {
    width: 60%;
    margin: 0 auto;
}

.footer_links {
    float: right;
}

.footer-link-list {
    list-style-type: none;
    padding: 0;
    margin: 15px 0 5px 0;
}

.footer-link-item {
    display: inline-block;
    margin: 1px 5px;
}

.footer-link-item a img {
    width: 20px;
}

#footer-about {
    text-decoration: none;
    color: var(--dark-bg);
}

#footer-about:hover {
    color: var(--highlight-medium);
    cursor: pointer;
}

#copyright {
    font-size: 13px;
    color: darkgray;
    margin: 55px 8px 10px 8px;
    float: left;
}