:root {
    --medium-border: #a0a0a0;
    --lightest-bg: #fdfdfd;
    --light-bg: #f4f4f4;
    --light-text: #f1f1f1;
    --medium-text: #858585;
    --highlight-light: #48c7d8;
    --highlight-medium: #009baf;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--lightest-bg);
}

/* Header */

header {
    width: 100%;
    display: block;
    background-color: white;
    border-bottom: groove gray thin;
}

.header_items {
    display: block;
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

.navbar {
    display: table;
}

.navbar a {
    float: left;
    margin: 15px;
    text-decoration: none;
}

.navbar a li {
    display: table-cell;
}

.navbar_link_active {
    color: gray;
}

.navbar_link_inactive {
    color: black;
}

.header_logo {
    float: left;
}

.header_logo h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: left;
    margin: 0 15px;
}

.header_logo img {
    float: left;
}

/* Registration */

.registration {
    float: right;
}

.regButton {
    margin: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
}

/* Footer */

footer {
    width: 100%;
    height: 225px;
    display: block;
    background-color: white;
    border-top: ridge lightgray thin;
    text-align: center;
    object-position: center;
}

.footer_items {
    display: table;
    margin: auto;
}

.footer_items #copyright {
    display: block;
    color: darkgray;
}

.info {
    height: 400px;
    width: 80%;
    border: groove lightgray;
    margin: 40px auto;
}

/* Storefront */

.store {
    width: 80%;
    margin: auto;
}

.store_upper {
    display: flex;
    width: 100%;
}

.store_filter {
    display: block;
    border: black 1px solid;
    background-color: #dddddd;
    text-align: center;
    padding: 2px;
    padding-bottom: 0;
    border-top-left-radius: 1em;
    float: left;
    flex: 0.5;
}

.divFilters {
    display: inline-block;
}

.yip {
    margin: 0 auto;
    font-weight: bold;
}

.slider {
    width: 15%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    float: left;
}

.sliderText {
    float: right;
    margin: 0;
}

.divSlider {
    display: block;
    float: left;
    padding: 10px;
}

.divCheckbox {
    display: block;
    float: left;
    padding: 10px;
}

.checkboxText {
    float: right;
    margin: 0;
}

.storeCheckBox {
    float: left;
}

.divSearch {
    display: block;
    float: right;
    padding: 6px;
}

.store_counter {
    display: block;
    border: 1px black solid;
    float: right;
    width: 60%;
    flex: 1.4;
}

.counter_texts {
    display: block;
    padding: 3px;
}

.counter_texts p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    display: table;
    margin: 5px;
}

.store_bottom {
    display: flex;
}

.store_categories {
    display: inline-block;
    text-align: center;
    background-color: #a0a0a0;
    border: 1px black solid;
}

.store_categories li {
    list-style-type: none;
}

.store_categories button {
    float: left;
    border: none;
    height: 4em;
    width: 10em;
    margin: 0 auto;
    border-bottom: 1px gray solid;
    font-size: large;
    background-color: white;
}

.store_categories button:hover {
    transition-duration: 0.2s;
    background-color: gray;
}

.store_listing {
    display: block;
    padding: 3px;
    width: 100%;
    border: black 1px solid;
}

.giveth_ground_to_noble_body_thy_peasant_footer {
    margin: 800px;
}

/* LOGIN & REGISTRATION */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba( 0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--light-bg);
    margin: 20% auto;
    padding: 0 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 5px 8px 0 rgba( 0, 0, 0, 0.2), 0 7px 20px 0 rgba( 0, 0, 0, 0.17);
}

.modal-header {
    padding: 10px;
    border-bottom: 1px solid var(--medium-border);
}

.modal-header h2 {
    font-size: 28px;
    margin: 15px 0;
}

.modal-close-btn {
    color: var(--medium-text);
    float: right;
    font-size: 30px;
}

.modal-close-btn:hover, .modal-close-btn:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.modal-main {
    padding-top: 10px;
}

.modal-label {
    font-size: 20px;
}

.modal-text-input {
    font-size: 16px;
    text-align: center;
    width: 90%;
    height: 30px;
    margin: 5px 0;
    padding: 4px;
    background-color: var(--lightest-bg);
    border: 1px ridge var(--medium-border);
}

.modal-text-input:focus {
    border-color: var(--highlight-light);
}

.modal-btn {
    color: var(--light-text);
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    border: 0.5px solid var(--medium-border);
    background-color: var(--highlight-light);
}

.modal-btn:hover {
    cursor: pointer;
    background-color: var(--highlight-medium);
    color: var(--light-text);
}

.modal-question {
    text-transform: none;
}

.modal-question:hover {
    color: var(--highlight-medium);
    cursor: pointer;
}

.modal-footer {
    color: var(--medium-text);
    text-align: center;
    padding: 10px;
    border-top: 1px solid var(--medium-border);
}

/* LISTING */

.listing {
    width: 98%;
    margin: 10px auto;
    padding: 20px 30px;
    border: 1px solid var(--medium-border);
    background-color: var(--light-bg);
}

.expand-btn {
    background-image: url(../img/icons/angle-down-solid.svg);
    background-color: var(--light-bg);
    border: none;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

